Repository stith1987/agente-cv, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, agent, api, rag, tools, enhancement, tests, docker, infrastructure, ci-cd, dependencies, configuration

docs: añadir resumen ejecutivo de implementación Git Flow
  IMPLEMENTATION_SUMMARY.md
Labels: documentation

docs: añadir índice completo de documentación Git
  docs/GIT_DOCS_INDEX.md
Labels: documentation

feat: Enhance documentation and workflows
  .github/pull_request_template.md
  .github/workflows/branch-protection.yml
  CHANGELOG.md
  GIT_WORKFLOW.md
  IMPLEMENTATION_SUMMARY.md
  QUICKSTART_GIT.md
  README.md
  docs/BRANCH_DOCUMENTATION_GUIDE.md
  docs/GIT_BRANCH_VISUALIZATION.md
  docs/GIT_DOCS_INDEX.md
  scripts/README.md
Labels: documentation, infrastructure, ci-cd

feat: implementar Multi-LLM plug-and-play con soporte para múltiples proveedores
  .env.example
  CHANGELOG.md
  agent/core/orchestrator.py
  agent/utils/__init__.py
  agent/utils/config.py
  agent/utils/multi_llm_client.py
  docs/MULTI_LLM_GUIDE.md
  examples/multi_llm_demo.py
Labels: documentation, agent, enhancement, configuration

docs: añadir resumen completo de implementación Multi-LLM
  IMPLEMENTATION_MULTI_LLM.md
Labels: documentation

feat: añadir quickstart script para Multi-LLM
  quickstart_multi_llm.py
Labels: none

feat: añadir interfaz Gradio con selector de proveedor LLM
  api/ui_gradio_multi_llm.py
  docs/MULTI_LLM_GUIDE.md
  run_multi_llm_ui.py
Labels: documentation, api, enhancement

docs: añadir guía completa de UI Multi-LLM
  docs/UI_MULTI_LLM_GUIDE.md
Labels: documentation

feat: Expose LLM metadata (provider, model, tokens, cost) in API responses
  agent/core/orchestrator.py
  test_multi_llm_docker.py
Labels: agent, enhancement, tests

fix: Remove invalid similarity_threshold parameter in retriever.search() and add LLM metadata to all responses
  agent/core/orchestrator.py
Labels: agent, enhancement

fix: Remove similarity_threshold from combined_search as well
  agent/core/orchestrator.py
Labels: agent, enhancement

feat: Switch to Multi-LLM UI with provider selector in Docker container
  run_full_app.py
Labels: none

fix: Remove incompatible 'scale' parameter from Gradio components for v4.7.1 compatibility
  api/ui_gradio_multi_llm.py
Labels: api, enhancement

feat: Improve error handling and show available providers in UI
  api/ui_gradio_multi_llm.py
Labels: api, enhancement

docs: Add comprehensive Architecture Decision Records (ADR)
  CHANGELOG.md
  IMPLEMENTATION_MULTI_LLM.md
  README.md
  docs/ADR.md
  docs/MULTI_LLM_GUIDE.md
  docs/README.md
  docs/UI_MULTI_LLM_GUIDE.md
Labels: documentation

.github/labeler.yml:

# Configuración para auto-labeling de PRs

# Documentación
documentation:
  - docs/**/*
  - '*.md'

# Código fuente - Agent
agent:
  - agent/**/*

# Código fuente - API
api:
  - api/**/*

# Código fuente - RAG
rag:
  - rag/**/*

# Código fuente - Tools
tools:
  - tools/**/*

# Enhancement
enhancement:
  - agent/**/*
  - api/**/*
  - rag/**/*
  - tools/**/*

# Tests
tests:
  - 'test_*.py'
  - tests/**/*

# Docker
docker:
  - Dockerfile
  - docker-compose*.yml

# Infrastructure
infrastructure:
  - Dockerfile
  - docker-compose*.yml
  - .github/**/*

# CI/CD
ci-cd:
  - .github/**/*

# Dependencies
dependencies:
  - requirements.txt

# Configuration
configuration:
  - .env.example
  - config/**/*
